@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
<h1 class="textSection"> SPAZZTASTIQ GAMES LLC CONTACT INFOMRATION</h1>
<hr/>
<div>
    <h2> Follow Us!</h2>
    <br/>
    <a href="https://www.facebook.com/spazztastiqgames/?hc_ref=ARR94ENDxBGyw3RKDlAaPqpRUL7CUcIO6SFR1jsWCT8af0KBb-vehGbkxZXC10ol0jI&fref=nf">
        <img src="~/Images/Facebook Logo.jpg" style="max-height:64px; max-width:64px;" />
    </a>

    <a href="#">
        <img src="~/Images/instagram.png" style="max-height:64px; max-width:64px;" />
    </a>
</div>
    
<div>
    <h2> Contact Us!</h2>
    <br />

    <h2>EMAIL:</h2><br /><br />
    <h2>PHONE:</h2><br /><br />

</div>

<div>
    <hr />
    Akira Studio is an established web design and graphic design company in London, Ontario, with a client base right across the London area, Oxford County, Ontario, Canada and the UK.

    Call us for website design and development, graphic design services, responsive web design for mobile-friendly websites near London, Woodstock, Stratford, Tillsonburg and the GTA.

    Don't pay for Toronto web designers when you can have the same quality and international experience right here in Southwest Ontario for less with Akira Studio.
    <br /><br />
    
    <a href="https://www.facebook.com/spazztastiqgames/?hc_ref=ARR94ENDxBGyw3RKDlAaPqpRUL7CUcIO6SFR1jsWCT8af0KBb-vehGbkxZXC10ol0jI&fref=nf">
        <img src="~/Images/Facebook Logo.jpg" style="max-height:64px; max-width:64px;" />
    </a>

    <a href="#">
        <img src="~/Images/instagram.png" style="max-height:64px; max-width:64px;" />
    </a>
</div>

<style>
    body {
        background-color: #4d2e87;
    }
</style>